/* CSS Reset - Start */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
/*CSS Reset - End */


/* *********************** COMMON: START ******************/
body {
	background-color:#fff;
}
p {
	margin:20px 0;
	font:300 14px/24px 'Open Sans' Verdana, sans-serif;
	color:#888;
}
h1, h2, h3, h4, h5, h6 {
	color:#3e3e3e;
	font-family:'Open Sans', Verdana, sans-serif;
	text-shadow:1px 1px 0 #fff;
}
strong {font-weight: bold;}
.wrapper {
	margin:0;
	padding:0;
	width:100%;
}

a.btn {
	font:600 16px/22px 'Open Sans', Verdana, sans-serif;
	text-shadow:1px 1px 0 #333;
	display:inline-block;

	-webkit-border-radius: 8px;
        	border-radius: 8px;
        	border:1px solid #125a83;
 
	background-clip: padding-box;

  	-webkit-box-shadow: 0px 0px 4px 0px #4d4d4d;
          	box-shadow: 0px 0px 4px 0px #4d4d4d;


	background: #5bb3d8; /* Old browsers */
	background: -moz-linear-gradient(top,  #5bb3d8 0%, #3390c5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5bb3d8), color-stop(100%,#3390c5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5bb3d8 0%,#3390c5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5bb3d8 0%,#3390c5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5bb3d8 0%,#3390c5 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5bb3d8 0%,#3390c5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb3d8', endColorstr='#3390c5',GradientType=0 ); /* IE6-9 */

	color:#fff;
	padding:16px 26px;
	text-decoration: none;
}

a.btn:hover {

	background: #81d3f5; /* Old browsers */
	background: -moz-linear-gradient(top,  #81d3f5 0%, #51ace0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#81d3f5), color-stop(100%,#51ace0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #81d3f5 0%,#51ace0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #81d3f5 0%,#51ace0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #81d3f5 0%,#51ace0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #81d3f5 0%,#51ace0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81d3f5', endColorstr='#51ace0',GradientType=0 ); /* IE6-9 */

	color:#fff;
}
.shadow {
	box-shadow:inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0px 2px 3px 0px rgba(0,0,0,0.1);
}
.portfolioTexture {
	background:#fafafa url(../images/texture-bg.png) repeat top left scroll;
}
.workTexture {
	background:#f4f4f4 url(../images/texture-bg.png) repeat top left scroll;
}
.footerTexture {
	background:#303030 url(../images/texture-bg.png) repeat top left scroll;
}
/* *********************** COMMON: END ******************/

/* *********************** FONTAWESOME: START**************** */
.fa-6x {font-size:6em;}
.fa-7x {font-size:7em;}
.fa-8x {font-size:8em;}
.fa-9x {font-size:9em;}
.fa-10x {font-size:10em;}
/* *********************** FONTAWESOME: END**************** */

/* *********************** NAV AREA: START ***************** */
#nav {
	background-color: #282828;
	font:300 16px/20px 'Open Sans', Verdana, sans-serif;
	height:60px;
	left:0;
	margin:0;
	position:fixed;
	top:0;
	width:100%;
}
#nav ul {

	list-style: none;
	margin-left: auto;
	margin-right:auto;
	padding:0;
	text-align: center;
	width: 430px;
}
#nav li {
	display:inline;
	float:left;
	padding:0 10px;
}
#nav a:link {
	color:#fff; 
	display: block;
	height:20px;
	margin:10px 0 0 0;
	padding:10px 20px;
	text-decoration: none;
}
#nav a:visited, nav a:active {color:#eee;}
#nav a:hover {
	color:#ccc; 
	background-color:#333;
	border-radius: 5px;
}


/* *********************** NAV AREA: END ******************/

/*I was using the hero class on the article within heroContainer*/
/*.hero {	
	margin-left: auto;
	margin-right: auto;
	width:960px;
}*/

/* *********************** HERO AREA: START ******************/

#heroContainer {
	padding:150px 0 100px;
	
}

.heroImage {
	width:355px;
}
.heroImage img {
	height: 98%;
	width:98%;
	border-radius: 150px;
}

.heroContent {
	margin:50px 0 0 50px;
	width: 500px;
}

.heroContent h1 {
	
	font:300 32px/40px 'Open Sans', Verdana, sans-serif;
}

.heroContent .btn {
	margin:10px 0 0 0;
}
/* *********************** HERO AREA: END ******************/

/* *********************** PORT AREA: START ******************/
#portfolioContainer {
	padding-top:100px;
	text-align: center;
	padding-bottom:60px;
}

.portfolio h2 {
	font-size:24px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
}
.portfolio > p {
	text-align: center;
}
.portfolioItem {
	background-color: #fff;
	border:1px solid #ccc;
	float:left;
	margin:20px 8px;
	padding:20px;
	text-align: center;
	width:260px;
}
.portfolioItem h3 {
	font-size:24px;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
}
.portfolioItem p {
	font-size:16px;
	line-height: 24px;
	font-weight:300;
	text-shadow:1px 1px 0 #fff;
}

.fa-comments-o, .fa-file-o, .fa-thumbs-o-up {color:#ea8a95; padding-bottom:20px;}
/* *********************** PORT AREA: END ******************/

/* *********************** WORK AREA: START ******************/
#workContainer {
	text-align: center;
	padding-bottom:60px;
}
#workContainer .row {width:100%; display: block;}
.work {
	padding-top:60px;
}
.work h2 {
	font-size:24px;
	font-weight: 600;
	line-height: 32px;
	text-align: center;
	text-shadow:1px 1px 0 #fff;
}
.work p {
	font-size:16px;
	line-height: 24px;
	font-weight:300;
	text-shadow:1px 1px 0 #fff;
}
.workItem {
	background-color: #fff;
	border:1px solid #ccc;
	float:left;
	text-align: center;
	margin:40px 8px;
}
.workItem img {width:300px; margin-bottom:10px;}
.workItem h3 a:link, .workItem h3 a:visited {
	font-size:24px;
	font-weight: 700;
	line-height: 32px;
	text-align: center;
	color:#3e3e3e;
	text-decoration: none;
}
.workItem h3 a:hover, .workItem h3 a:active {
	color:#666;
}
.workItem p {
	font-size:14px;
	line-height: 20px;
	font-weight:300;
	text-shadow:1px 1px 0 #fff;
}
/* *********************** WORK AREA: END ********************/

/* *********************** FOOTER AREA: START ******************/
/* .*@.*(edu|com|net|org) */
/* sample 'pattern' for email field */
#footerContainer {
	text-align: center;
	padding:60px 0;
}
#footerContainer h2 {
	font-size:24px;
	line-height: 32px;
	color:#fff;
	text-shadow:none;
	font-weight: 600;
}
#footerContainer p {
	font-size:16px;
	line-height: 24px;
}
/* |||*********FORM STYLES: START ***********||| */
form input, form select, form textarea {
	-webkit-appearance:none;
}
input {
	border:0;
	padding:12px;
	font-size:16px;
	border-radius: 8px;
	background:#282828;
	color:#bbb;
	box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05), rgba(255,255,255,0.025);
	/*width:100%;*/
	-moz-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	-webkit-transition:background .2s ease-in-out, box-shadow .2s ease-in-out;
		-webkit-transition-property:background, box-shadow;
		-webkit-transition-duration: 0.2s, 0.2s;
		-webkit-transition-timing-function:ease-in-out, ease-in-out;
		-webkit-transition-delay:initial, initial;
		-o-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
		-ms-transition: background .2s ease-in-out, box-shadow .2s ease-in-out;
	transition:background .2s ease-in-out, box-shadow .2s ease-in-out;
		-transition-property:background, box-shadow;
		-transition-duration: 0.2s, 0.2s;
		-transition-timing-function:ease-in-out, ease-in-out;
		-transition-delay:initial, initial;
}
input.half {width:50%;}
/*input[type='text'] {
	background:black;
}*/
.container_12 input.grid_6 {
	width:436px;
}
/* |||*********FORM STYLES: END *************||| */
/* *********************** FOOTER AREA: END ********************/



